@model RegistroEstacionamento


@{
	ViewData["Title"] = "Detalhes do Veículo | ";
}


<div class="modal-header bg-primary text-white">
	<h5 class="modal-title">Veículo: @Model.PlacaCarro</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>
<div class="modal-body">
	<p>Entrada: @Model.HorarioEntrada</p>
	<p>
		Tempo até o momento:
		@{
			var tempo = DateTime.Now - Model.HorarioEntrada;
		}
		@tempo.Hours:@tempo.Minutes:@tempo.Seconds
	</p>
	<p>Valor estimado: @Model.ValorPagar</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmacaoModal">
		Finalizar vaga
	</button>
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
</div>

<div class="modal fade" id="confirmacaoModal" tabindex="-1" aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content border-0 shadow-sm">
			<div class="modal-header bg-warning text-dark">
				<h5 class="modal-title" id="confirmacaoModalLabel">Confirmar Finalização</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
			</div>
			<div class="modal-body">
				<p>Tem certeza que deseja finalizar a vaga para o veículo <strong>@Model.PlacaCarro</strong>?</p>
			</div>
			<div class="modal-footer">
				<form asp-controller="Estacionamento" asp-action="EfetuarPagamento" method="get">
					<input type="hidden" name="Id" value="@Model.Id" />
					<button type="submit" class="btn btn-danger">Sim, finalizar</button>
				</form>
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
