@model List<RegistroEstacionamento>


@{
	ViewData["Title"] = "Lista de Veículos | ";
}

@if (TempData["Mensagem"] != null)
{
	<div class="alert alert-success">@TempData["Mensagem"]</div>
}



<div class="container mt-5">
	<div class="card shadow-sm">

	

		<div class="card-header text-white bg-primary">
			<h4 class="mb-0">Carros Estacionados</h4>
		</div>
		<div class="card-body">
			@if (!Model.Any())
			{
				<p class="text-muted">Nenhum carro estacionado no momento.</p>
			}
			else
			{
				<div class="table-responsive">
					<table class="table table-bordered align-middle">
						<thead class="table-light">
							<tr>
								<th>Placa</th>
								<th>Horário de Entrada</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var veiculo in Model)
							{
								@if (veiculo.Finalizado == false)
								{

									<tr>
										<td id="placa">@veiculo.PlacaCarro</td>
										<td>@veiculo.HorarioEntrada.ToString("dd/MM/yyyy - HH'h'mm'min'")</td>
										<td>

											<button class="btn btn-sm btn-warning" onclick="abrirModal('@veiculo.Id')">Ver detalhes</button>

											<a asp-controller="Estacionamento" asp-action="EditarVeiculo" asp-route-id="@veiculo.Id" class="btn btn-sm btn-primary">
												Editar
											</a>
										</td>
									</tr>

								}
							}
						</tbody>
					</table>
				</div>
			}
		</div>
	</div>
	<div class="mt-5 d-flex justify-content-end">
		<a class="border-0 btn btn-sm btn-primary" asp-controller="Estacionamento" asp-action="Index">Voltar ao início</a>
	</div>
</div>

<div class="modal fade" id="detalhesModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" id="conteudoModal">
		</div>
	</div>
</div>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">


<script>
	document.addEventListener("DOMContentLoaded", function() {

		const placaTd = document.getElementById("placa");
		if (placaTd) {
			const placaTexto = placaTd.innerText;
			if (placaTexto.length >= 3 && !placaTexto.includes('-')) {
				placaTd.innerText = placaTexto.slice(0, 3) + '-' + placaTexto.slice(3);
			}
		}
	});

	function abrirModal(id) {
		fetch(`/Estacionamento/Detalhes?Id=${id}`)
			.then(response => {
				if (!response.ok) throw new Error('Erro ao carregar detalhes');
				return response.text();
			})
			.then(html => {
				document.getElementById("conteudoModal").innerHTML = html;
				let modal = new bootstrap.Modal(document.getElementById('detalhesModal'));
				modal.show();
			})
			.catch(err => {
				alert("Erro ao buscar dados do veículo.");
				console.error(err);
			});
	}
</script>
